.main {
    display: flex;
    justify-content: center;
  }

  .box {
    width: 100px;
    height: 100px;
    background-color: purple;
    color: white;
  }

  .box-big {
    width: 200px;
    height: 200px;
    background-color: black;
    color: white;
    position: relative;
  }
  
  .box-position {
    position: absolute;
    left: 50px;
    top: 50px;
  }